.main-title {
  border-bottom: 8px white solid;
  font-size: 20pt;
  background: #00b95e;
  color: white;
  height: 80px;
}

.content-list .item {
  height: 350px;
  overflow: hidden;
  border-bottom: 5px white solid;
}

#form-filter {
  display: none;
  padding-bottom: 25px;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.filter-block h1 {
  transition: .5s ease-in-out;
}

.filter-block h1:hover {
  cursor: pointer;
  background: #00d96e;
  color: white;
  
}


.filter-block {
  border-bottom: 8px white dotted;
}

.filter-block #form-filter button {
  display: inline-block;
  width: 250px;
  margin-left: 30px;
  height: 55px;
  font-size: 22pt;
}

.filter-block #form-filter input {
  display: inline-block;
  width: 450px;
  margin-left: 20px;
}

.filter-block #form-filter select {
  display: inline-block;
  width: 250px;
  margin-left: 20px;
}

.item .title-item {
  display: block;
  font-size: 42pt;
  padding-left: 25px;
  padding-bottom: 15px;
  border-bottom: 2px white solid;
}

.item .content-item {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-top: 15px;
}

.item .img-block {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 220px;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  background: black;
  margin-left: auto;
  margin-right: auto;
}

.item .img-block img {
  transition: all .35s;
}

.item .img-block img:hover {
  opacity: 0.8;
}

.item .descript {
  height: 220px;
  font-size: 16pt;
}

.item a {
  transition: .5s ease-in-out;
}

.item a:hover {
  color: #00d96e;
}

.item .descript .text {
  position: relative;
  text-align: justify;
  height: 20%;
}

.item .descript .text {
  position: relative;
  text-align: justify;
}

.item .user-data {
  margin-top: 20px;
}

.item .content-item .date {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  width: 50%;
}

#add-advert {
  position: fixed; /* Stay in place */
  width: 80px;
  height: 80px;
  font-size: 80px;
  text-align: center;
  color: white;
  background: #00b95e;
  border-radius: 60px;
  line-height: 50px;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  transition: all .35s;
}

#add-advert:hover {
  background: #00d96e;
}