.carousel {
    display: inline-block !important;;
    width: 300px !important;
}

.animal-slider {
    height: 500px;
    overflow: hidden;
}

.carousel-inner { 
    width: 100% !important;
}

.carousel-item img {
    height: 500px !important;
    width: 300px !important;
}

