.create-form {
	width: 100%;
	display: block;
	border-bottom: 4px solid #E0E5EA;
}

.fa-search:before{
	font-size: 30px;
}

.load-img-block #title{
	width: 100%;
	text-align: center;
	font-size: 47pt;
	display: block;
	padding-bottom: 32px;
	border-bottom: 5px whitesmoke dotted;
}


.load-img-block {
	margin-bottom: 25px;
	padding-bottom: 20px;
	text-align: center;
	border-bottom: 3px whitesmoke solid;
}

.load-img-block img {
	width: 220px;
	margin-left: 25px;
	margin-top: 25px;
}
.load-img-block img:hover {cursor: pointer; }


.create-form input, .create-form textarea, .create-form select {
	margin-left: 20px;
	margin-top: 20px;
	transition: 0.3s ease;
}

label a:hover {
	color: #00d96e
}

.create-form button {
	margin-left: 70px;
	margin-bottom: 20px;
	height: 70px;
	width: 200px;
	padding-top: 6px;
	padding-bottom: 7px;
	border-radius: 0px;
	background: #214cb3;
	border: 0px;
	font-size: 25pt;
	color: white;
	overflow: hidden;	
	border-radius: 7px;
}

.create-form * {
	display: inline-block;
	vertical-align: top;
}

.create-form .input-form {
	width: 75%;
}

.input-form .enter_form {
	width: 100%;
}
.input-content label {
	font-size: 22pt;
	width: 100%;
	padding-left: 20px;
}
.input-content input {
	margin-bottom: 20px;
}
.enter_form .input-content {
	width: 100%;
	text-align: left;
}

.input-content {
	width: 100%;
	margin-left: 30px;
}

.enter_form .input-content *{
	width: 400px;
	display: block;
	font-size: 18pt;
}

.enter_form .input-content label, .input-form .enter_form textarea  {
	width: 100%;
}

